In [1]:
import pandas as pd

In [3]:
!pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.5-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-2.0.0-py3-none-any.whl.metadata (2.7 kB)
Downloading openpyxl-3.1.5-py2.py3-none-any.whl (250 kB)
Downloading et_xmlfile-2.0.0-py3-none-any.whl (18 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-2.0.0 openpyxl-3.1.5

In [7]:
df = pd.read_excel("studentcourses.xlsx",sheet_name=["حاسب الي"])

In [10]:
df1 = df["حاسب الي"]
df1.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,م,رقم الطالب,اسم الطالب,التخصص,رقم المقرر,اسم المقرر,رمز المقرر,رقم الشعبة
1,1,1502302012,محمد سليمان محمد الخضيري,علوم الحاسب,150290,اختياري قسم,عال,215245
2,2,1502321001,عبدالله حمد ابراهيم الصائغ,علوم الحاسب,150286,اختياري قسم,عال,115242
3,3,1501321027,عبدالرحمن محمد ابراهيم العيسوي,هندسة الحاسب,150315,اختياري قسم,عال,115252
4,4,1501321027,عبدالرحمن محمد ابراهيم العيسوي,هندسة الحاسب,150316,اختياري قسم,عال,115253

In [14]:
# drop first column
df1 = df1.drop(df1.columns[0], axis=1)

In [15]:
df1.head()

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,رقم الطالب,اسم الطالب,التخصص,رقم المقرر,اسم المقرر,رمز المقرر,رقم الشعبة
1,1502302012,محمد سليمان محمد الخضيري,علوم الحاسب,150290,اختياري قسم,عال,215245
2,1502321001,عبدالله حمد ابراهيم الصائغ,علوم الحاسب,150286,اختياري قسم,عال,115242
3,1501321027,عبدالرحمن محمد ابراهيم العيسوي,هندسة الحاسب,150315,اختياري قسم,عال,115252
4,1501321027,عبدالرحمن محمد ابراهيم العيسوي,هندسة الحاسب,150316,اختياري قسم,عال,115253

In [16]:
df1.iloc[0]

Unnamed: 1    رقم الطالب
Unnamed: 2    اسم الطالب
Unnamed: 3        التخصص
Unnamed: 4    رقم المقرر
Unnamed: 5    اسم المقرر
Unnamed: 6    رمز المقرر
Unnamed: 7    رقم الشعبة
Name: 0, dtype: object

In [17]:
# change cloum names to df1.iloc[0]
df1.columns = df1.iloc[0]

In [18]:
df1.head()

,رقم الطالب,اسم الطالب,التخصص,رقم المقرر,اسم المقرر,رمز المقرر,رقم الشعبة
0,رقم الطالب,اسم الطالب,التخصص,رقم المقرر,اسم المقرر,رمز المقرر,رقم الشعبة
1,1502302012,محمد سليمان محمد الخضيري,علوم الحاسب,150290,اختياري قسم,عال,215245
2,1502321001,عبدالله حمد ابراهيم الصائغ,علوم الحاسب,150286,اختياري قسم,عال,115242
3,1501321027,عبدالرحمن محمد ابراهيم العيسوي,هندسة الحاسب,150315,اختياري قسم,عال,115252
4,1501321027,عبدالرحمن محمد ابراهيم العيسوي,هندسة الحاسب,150316,اختياري قسم,عال,115253

In [19]:
# drop first row 
df1 = df1.drop(df1.index[0])
df1.head()

,رقم الطالب,اسم الطالب,التخصص,رقم المقرر,اسم المقرر,رمز المقرر,رقم الشعبة
1,1502302012,محمد سليمان محمد الخضيري,علوم الحاسب,150290,اختياري قسم,عال,215245
2,1502321001,عبدالله حمد ابراهيم الصائغ,علوم الحاسب,150286,اختياري قسم,عال,115242
3,1501321027,عبدالرحمن محمد ابراهيم العيسوي,هندسة الحاسب,150315,اختياري قسم,عال,115252
4,1501321027,عبدالرحمن محمد ابراهيم العيسوي,هندسة الحاسب,150316,اختياري قسم,عال,115253
5,1502322007,أحمد محمد الجبيري الحربي,علوم الحاسب,150290,اختياري قسم,عال,215245